@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header {
  margin-top: 1.5%;
  display: flex;
  justify-content: center;
}
header img {
  width: 200px;
}

.contenedor {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

#resultado,
#seleccion {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 3px solid hsl(120, 100%, 25%, 0.25);
  border-radius: 15px;

  width: 95%;
  min-height: 100px;
  background-color: rgba(255, 140, 0, 0.25);

  padding: 1.5%;
  gap: 15px;
}

#seleccion {
  background-color: rgba(95, 158, 160, 0.25);
}

.card,
.pokeTeam {
  cursor: grab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 13, 0.5);
  border: 3px solid rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 150px;
  height: 200px;
  box-shadow: 5px 5px 10px gray;
  padding: 0.5%;
  overflow: hidden;
}

.newCard {
  animation: 250ms go 1 ease-in-out;
}

.card:hover {
  background-color: rgba(0, 255, 13, 0.856);
  border-color: rgb(255, 174, 0);
}
.card:active {
  animation: 1.5s holding infinite ease-in-out;
}

.pokeTeam {
  cursor: default;
  border: 6px outset rgb(255, 196, 0);
  color: rgb(82, 63, 0);
  background: rgb(255, 200, 0);
  background: linear-gradient(
    to bottom right,
    rgba(250, 200, 0, 1) 0% 25%,
    rgb(150, 120, 0, 0.9) 85% 95%,
    rgb(150, 120, 0, 1) 100%
  );
  background-position: 10%;
  width: 180px;
  height: 250px;
  animation: rgb 2s infinite ease-in-out;
}

.idPoke {
  height: 0;
  top: 15%;
  left: 20%;
  position: relative;
  color: rgba(65, 0, 126, 0.25);
}

.card-title {
  display: flex;
  gap: 7.5%;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 0.8rem;
}
.moves {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

.sprite {
  max-width: 50%;
  max-height: 100px;
}

.pokeTeam .idPoke {
  top: 20%;
  left: 25%;
  font-weight: bold;
}
.pokeTeam .card-title {
  font-size: 1rem;
}
.pokeTeam .moves {
  font-size: 1rem;
}

.pokeTeam .sprite {
  max-width: 100%;
  height: 100px;
}

@keyframes go {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes holding {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}
